<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" type="text/css"
			href="//cdnjs.cloudflare.com/ajax/libs/uikit/2.24.3/css/uikit.min.css" />
    	<title>New sequence</title>

	</head>
	<body>
		<div class="container">
			<h2>Document details</h2>
			<form name = "input" th:action = "@{/saveData}" th:object = "${data}" method = "post">
			    <span class = "label">Sequence is</span>
			    <input type="number" th:field="*{nextSeqNum}" readonly="readonly"/>
			    <span th:if="${#fields.hasErrors('nextSeqNum')}" th:errors="*{version}"></span>
			    <br/><br/><br/>
			    <span class = "label">By User</span>
			    <input type="text" th:field="*{username}" readonly="readonly"/>
				<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
				<br/><br/><br/>
			    <span class = "label">Purpose</span>
			    <input type="text" th:field="*{purpose}"/>
			    <span th:if="${#fields.hasErrors('purpose')}" th:errors="*{purpose}"></span>
			    <br/><br/><br/>
			    <input type="submit" value="Claim!" />
			    <br/><br/><br/>
		    </form>
		    <form name = "cancel" th:action = "@{/generatedDataList}" method = "get">
			    <input type="submit" value="Cancel"/>
		    </form>
		</div>
	</body>
</html>