<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" type="text/css"
			href="//cdnjs.cloudflare.com/ajax/libs/uikit/2.24.3/css/uikit.min.css" />
    	<title>New sequence</title>
<!--/*/ <th:block th:include="headerinc :: head"></th:block> /*/-->
	</head>
	<body>
	<!--/*/ <th:block th:include="header :: header"></th:block> /*/-->
		<div class="modal-content">
			<h2 class = "modal-title">Document details</h2>
			<form class = "modal-body" name = "input" th:action = "@{/saveData}" th:object = "${data}" method = "post">
			    <span class = "control-label">Sequence is</span>
			    <input class = "form-control" type="text" th:field="*{nextSeqNum}" readonly="readonly"/>
			    <span class = "control-label" th:if="${#fields.hasErrors('nextSeqNum')}" th:errors="*{nextSeqNum}">version</span>
			    <br/><br/><br/>
			    <span class = "control-label">By User</span>
			    <input class = "form-control" type="text" th:field="*{username}" readonly="readonly"/>
				<span class = "control-label" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
				<br/><br/><br/>
			    <span class = "control-label">Purpose</span>
			    <input class = "form-control" type="text" th:field="*{purpose}"/>
			    <span class = "control-label" th:if="${#fields.hasErrors('purpose')}" th:errors="*{purpose}"></span>
			    <br/><br/><br/>
			    <input class="btn btn-default" type="submit" value="Claim!" />
			    <br/><br/><br/>
		    </form>
		    <form name = "cancel" th:action = "@{/generatedDataList}" method = "get">
			    <input class="btn btn-default" type="submit" value="Cancel"/>
		    </form>
		</div>
	</body>
</html>