<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta charset="utf-8" />



<link rel="stylesheet" type="text/css"
	href="//cdnjs.cloudflare.com/ajax/libs/uikit/2.24.3/css/uikit.min.css" />
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/1.10.13/css/dataTables.uikit.min.css" />
<script type="text/javascript" charset="utf8"
	src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript" charset="utf8"
	src="http://cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8"
	src="http://cdn.datatables.net/plug-ins/1.10.13/api/fnFilterClear.js"></script>

<!--/*/ <th:block th:include="headerinc :: head"></th:block> /*/-->

</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="header :: header"></th:block> /*/-->
		<div th:if="${not #lists.isEmpty(allData)}">
			<h2>Generated Sequences</h2>
			<div class="pom">
				<form th:action="@{/generateData}" method="post">
					<input type="submit" value="Claim new" />
				</form>
			</div>
			<table id="dataTable" class="table table-striped">
				<thead>
					<tr>
						<th>NO.</th>
						<th>Submitted By</th>
						<th>Purpose</th>
						<th>Date</th>
					</tr>
					<script type="text/javascript" class="init">
						$(document)
								.ready(
										function() {
											var table = $('#dataTable')
													.DataTable(
															{
																"paginate" : true,
																"pageLength" : 6,
																"ordering" : false,
																"lengthChange" : true,
																"info" : false,
																"pagingType" : "simple",
																"language" : {
																	"search" : ""
																},
																"lengthChange" : false
															});

											var info = table.page.info();

											$('#tableInfo').html(
													'Page ' + (info.page + 1)
															+ ' / '
															+ info.pages);

											var oTable = $('#dataTable')
													.dataTable();
											var input = $('#dataTable_filter input')
													.unbind();
											$('#dataTable_filter input')
													.bind(
															'keyup',
															function(e) {
																if (e.keyCode == 13) {
																	if (this.value.length > 2) {
																		oTable
																				.fnFilter(this.value);
																	} else if (this.value.length == 0) {
																		oTable
																				.fnFilterClear();
																	}
																}
															});

										}
										});
					</script>
					<button id="goButton">GO!</button>
				</thead>
				<tbody>
					<tr th:each="data : ${allData}">
						<td><a id="dataDetail"
							th:text="${#numbers.formatInteger(data.seqNum,5)}"></a></td>
						<td th:text="${data.username}">Submitted By</td>
						<td th:text="${data.purpose}">Purpose</td>
						<td
							th:text="${#temporals.format(data.date, 'MMMM d yyyy, hh:mm a')}">Date</td>
					</tr>
				</tbody>
			</table>
			<div id="tableInfo"></div>

		</div>
		<div th:if="${#lists.isEmpty(allData)}">
			<h2>There are no generated sequences at this moment</h2>
		</div>

	</div>
</body>

</html>