<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
  <head>
    <title tiles:fragment="title">Document sequence generator</title>
    <link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.24.3/css/uikit.min.css" />
</head>
  <body>
  	<div class="container-fluid">
  		<div class = "message" style="width:80%;margin:0 auto;height:30px">
            <div th:if="${param.error}" class="alert alert-error" style="color:red;text-align:center">    
            	Invalid username or password.
            </div>
        	<div th:if="${param.logout}" class="alert alert-success" style="color:red;text-align:center"> 
                You have been logged out.
            </div>
        </div>

    	<h2 style="text-align: center">Document sequence generator</h2>
        <form name="f" th:action="@{/login}" method="post">               
            <fieldset style="border: 0;margin:0 auto;">                
                <div class = "name">
                	<label for="username">Username</label>
                	<input type="text" id="username" name="username" required="required"/>
                </div>
                <div class = "pass">        
                	<label for="password">Password</label>
                	<input type="password" id="password" name="password" required="required"/>    
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn">Log in</button>
                </div>
            </fieldset>
        </form>
    </div>
  </body>
</html>