<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
  <head>
    <title tiles:fragment="title">Document sequence generator</title>
    <link rel="stylesheet" type="text/css"
			href="//cdnjs.cloudflare.com/ajax/libs/uikit/2.24.3/css/uikit.min.css" />
</head>
  <body>
  	<div class="modal-content">
  		<div class = "message" style="width:80%;margin:0 auto;height:30px">
            <div th:if="${param.error}" class="alert alert-error" style="color:red;text-align:center;margin-top:10px;">    
            	Invalid username or password.
            </div>
        	<div th:if="${param.logout}" class="alert alert-success" style="color:blue;text-align:center;margin-top:10px"> 
                You have been logged out.
            </div>
			<div th:if="${param.empty}" class="alert alert-empty" style="color:red;text-align:center;margin-top:10px"> 
                Username and password are required fields.
            </div>
        </div>
	
    	<h2 class="modal-title" style="text-align: center">Document sequence generator</h2>
        <form class = "modal-body" name="f" th:action="@{/login}" method="post">               
            <fieldset style="border: 0;width:60%; margin: 0 auto">                
                <div class = "name" style="width:50%; margin: 0 auto">
                	<span class="control-label" style="text-align:center">Username</span><br/><br/>
                	<input class = "form-control" type="text" id="username" name="username" style="width:100%; margin: 0 auto"/>
                </div>
                <br/><br/><br/>
                <div class = "pass" style="width:50%; margin: 0 auto">        
                	<span class="control-label" style="text-align:center">Password</span><br/><br/>
                	<input class = "form-control" type="password" id="password" name="password" style="width:100%; margin: 0 auto"/>    
                </div>
                <br/><br/><br/>
                <div class="form-actions" style="width:51px; margin: 0 auto">
                    <button class="btn btn-default" type="submit">Log in</button>
                </div>
            </fieldset>
        </form>
        </div>
  </body>
</html>